menus/
neofetch/
google-chrome/
flameshot/
coc/
fcitx/
dconf/
navicat/
VirtualBox/
Kingsoft/
picom/
vlc/
clash/
configstore/
nvim/autoload/
nvim/plugged/
nvim/vim-plug/
lazygit/state.yml
QtProject.conf
mimeapps.list
